.modal-title {
  text-align: center;
}
.dashboard-page .stats .stat-progress {
  margin: 5px 0 0;
}
.dashboardfuelresume .mostrar {
  display: none;
}
.dashboardfuelresume:hover > .mostrar{
  display: block;
}
.dashboardfuelresume:hover{
  background: rgba(133,206,54,0.1);
}

@media (max-width: 767px){
  .title-description {
      display: block;
  }
}