.xnotifications a:hover{
  color: #339cc3;
}
.header .header-block-nav .notifications.new .counter {
    color: rgba(255,0,0,0.7);
}
.btn-link, .btn-link:link, .btn-link:hover, .btn-link:active, .btn-link:visited {
  color: #bdbdbd;
}
.btn-link:hover.backward {
 color: red; 
}
.btn-link:hover.forward {
 color: #78bd2e; 
}
.btn-link:hover.closemodal {
 color: #000;
}
.modal-title {
  text-align: center;
}
.dashboard-page .stats .stat-progress {
  margin: 5px 0 0;
}
.dashboardfuelresume .mostrar {
  display: none;
}
.dashboardfuelresume:hover > .mostrar{
  display: block;
}
.dashboardfuelresume:hover{
  background: rgba(133,206,54,0.1);
}

@media (max-width: 767px){
  .title-description {
      display: block;
  }

}
@media (max-width: 818px){
  #fueltablefootable {
    font-size: 90%;
  }
}
@media (max-width: 313px){
  #fueltablefootable {
    font-size: 70%;
    max-width: 313px;
    overflow: scroll;
  }
}